html {
  background-color : rgba(65, 194, 198, 0.201);
}

span {
  margin: 25px;
  padding: 20px;
  border-radius: 24px;
  background-color: white;
  box-shadow: 4px 6px black;
  display :inline-block;
}
p{
  text-align: center;
}

h4 {
  font-family: Georgia, serif;
  font-style: oblique;
  font-weight: bold;
  font-size: 200%;
  color :burlywood;
  text-shadow: 2px -2px 2px #b8b8b8;
}
